{% extends "layout.html" %}
{% block content %}

<h2>Task Details</h2>

<div class="card p-3 shadow-sm mb-4">
    <h4>{{ task.task }}</h4>
    <p><b>Assigned to:</b> {{ task.assigned_to }}</p>
    <p><b>Priority:</b> {{ task.priority }}</p>
    <p><b>Status:</b> {{ task.status }}</p>

    <a href="/explain/{{task.id}}" class="btn btn-info mt-2">Explain Task</a>

    {% if session.role == "lead" %}
    <a href="/ai-subtasks/{{task.id}}" class="btn btn-warning mt-2">AI Subtasks</a>
    {% endif %}
</div>

<h4>Subtasks</h4>

<ul class="list-group">
{% for s in subtasks %}
    <li class="list-group-item">{{ s }}</li>
{% endfor %}
</ul>

{% if session.role == "lead" %}
<form method="POST" action="/add-subtask/{{task.id}}" class="card p-3 mt-3 shadow-sm">
    <label>Add Subtask</label>
    <input name="subtask" class="form-control" required>
    <button class="btn btn-success mt-2">Add</button>
</form>
{% endif %}

<a href="/task-list" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i> Back to Task List
</a>


{% endblock %}
